<form action="/dashboard/addstation" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Add a new station:</label>
        <input class="input" type="text" placeholder="Enter Station Name (e.g. Waterford)" name="title" required>
      </div>
      <div class="field">
        <label class="label">Station Latitude</label>
        <input class="input" type="number" placeholder="Enter Latitude (e.g., 52.2593)" name="lat" step="0.0001" min="-90" max="90" required>
      </div>
      <div class="field">
        <label class="label">Station Longitude</label>
        <input class="input" type="number" placeholder="Enter Longitude (e.g., 7.1101)" name="lon" step="0.0001" min="-180" max="180" required>
      </div>
    </div>
  </div>
  <button class="button is-link">Add Station</button>
</form>