<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <div class="has-text-centered">
    <label class="label">ENTER REPORT DETAILS</label>
  </div>
  <br>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
          <label class="label">Weather Code:</label>
        <input class="input" type="text" placeholder="Enter Weather Code" name="weatherCode" required>
      </div>
      <div class="field">
        <label class="label">Temperature:</label>
        <input class="input" type="text" placeholder="Enter Temperature °C" name="temperature" required>
      </div>
      <div class="field">
        <label class="label">Wind Speed:</label>
        <input class="input" type="text" placeholder="Enter Wind Speed km/h" name="windSpeed" required>
      </div>

      <div class="field">
        <label class="label">Wind Direction</label>
        <div class="select">
          <select name="windDirection" required>
            <option value="North">North (N)</option>
            <option value="North-Northeast">North-Northeast (NNE)</option>
            <option value="Northeast">Northeast (NE)</option>
            <option value="East-Northeast">East-Northeast (ENE)</option>
            <option value="East">East (E)</option>
            <option value="East-Southeast">East-Southeast (ESE)</option>
            <option value="Southeast">Southeast (SE)</option>
            <option value="South-Southeast">South-Southeast (SSE)</option>
            <option value="South">South (S)</option>
            <option value="South-Southwest">South-Southwest (SSW)</option>
            <option value="Southwest">Southwest (SW)</option>
            <option value="West-Southwest">West-Southwest (WSW)</option>
            <option value="West">West (W)</option>
            <option value="West-Northwest">West-Northwest (WNW)</option>
            <option value="Northwest">Northwest (NW)</option>
            <option value="North-Northwest">North-Northwest (NNW)</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Pressure: </label>
        <input class="input" type="text" placeholder="Enter Pressure hPa" name="pressure" required>
      </div>
    </div>
  </div>
  <button class="button is-link">Submit Report</button>
</form>