{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    About
  </h3>
  <div class="section">
    <div class="columns">
      <div class="column is-half">
        <p>
          Weather Station App
        </p>
      </div>
      <div class="column is-half">
        <p>
          placeholder content
        </p>
      </div>
    </div>
  </div>
</section>