{{> menu active="about"}}

<section class="section">
  <div class="box">
    <h3 class="title has-text-centered">
      About
    </h3>
    <div class="columns">
      <div class="column is-half">
        <p>
          The Weather Station App is a straightforward tool for reporting weather conditions. It lets you quickly record details like temperature, wind speed, direction, and pressure.
        </p>
      </div>
      <div class="column is-half">
        <p>
          Designed for ease of use, this app is perfect for anyone who needs to log and track weather data with minimal fuss. Just enter your observations and save.
        </p>
      </div>
      <div class="column is-full has-text-centered">
        <figure class="image is-inline-block">
          <img src="views/images/TheWeatherStation.png" alt="The Weather Station Logo">
        </figure>
      </div>
    </div>
  </div>
</section>