{{> menu}}

<section class="section">
    <div class="station-card">
        {{> station-card this}}
    </div>
    <div class="subtitle has-text-centered">
        Please add the first report
    </div>
    {{> add-report}}
</section>