{{> menu}}

<section class="section">
    <div class="title">
        {{station.title}}
    </div>
    <div class="station-card">
        {{> station-card}}
    </div>
    {{> list-reports}}
    {{> add-report}}
</section>